.profiles-container {
  margin: auto;
  text-align: center;
  background-color: var(--moss-green);
  

  h1 {
    padding-top: 80px;
    padding-bottom: 80px;
    color: var(--alabaster)
  }
}

.id-list {
  display: grid;
  object-fit: cover;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  margin: 0 auto;
  background-color: var(--cornsilk);
  padding: 40px;
  border-radius: 5px;
  margin-bottom: 50px;
}

@media(max-width: 800px) {
  .id-list {
    display: grid;
    grid-template-columns: auto;
  }
}