.profiles-container {
  margin: auto;
  text-align: center;
  background-color: var(--moss-green);
  padding-bottom: 100px;

  h1 {
    padding-top: 140px;
    padding-bottom: 80px;
    color: var(--alabaster);
  }
}

.search-container {
  background-color: var(--cornsilk);
  width: 100%;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;

  .search-box {
    width: 25%;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: -40px;
    border-radius: 8px;
    background-color: #fef8ee;
    font-size: 1.6rem;
  }
}

.id-list {
  display: grid;
  object-fit: cover;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: 0 auto;
  background-color: var(--cornsilk);
  padding: 100px;
  border-radius: 0 0 5px 5px;
  gap: 20px;

  h3 {
    font-size: 1.4rem;
    padding-top: 10px;
  }
}

@media (max-width: 800px) {
  .profiles-container {
    h1 {
      padding: 30px 20px;
      font-size: 2.5rem;
    }
  }

  .id-list {
    display: grid;
    grid-template-columns: auto;
    padding: 0;
    padding-bottom: 50px;
  }

  .search-container {
    width: 100%;
    padding-bottom: 100px;

    .search-box {
      width: 80%;
    }
  }
}
