.gallery-page-container {
  background-color: #f3f3f3;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 140px 0;
  justify-content: center;

  img {
    width: 30%;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .gallery {
    display: flex;
    flex-direction: column;
    object-fit: cover;
  }
}
