.id-page-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.portfolio-image-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    img {
        width: 400px;
        object-fit: cover;
    }
}
