.id-page-container {
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 248, 246);

  .id-card, p {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
  }
}

.profile-picture-container {
  display: flex;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
  // border: 1px solid red;
  margin-bottom: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;

  h1 {
    margin-top: auto;
    margin-bottom: 20px;
  }
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.portfolio-image-container {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 300px;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .profile-picture-container {
    h1 {
      font-size: 2rem;
    }

    .profile-picture {
      width: 150px;
      height: 150px;
    }
  }

  .portfolio-image-container {
    margin: 0 auto;
  }
}
