.heading {
  padding-top: 100px;
  background-color: var(--alabaster);
  background-image: url("../../../public/images/tours.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 70%;
  height: 100vh;
  color: var(--cornsilk);
}

.tours-info-container {
  width: 40%;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 100px;

  h1 {
    padding-bottom: 20px;
  }
}

.tour-operators-container {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 100px 0;
  background-color: whitesmoke;
}

@media (max-width: 800px) {
  .heading {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }

  .tours-info-container {
    padding: 0 30px;
    width: 100%;
  }

  .tour-operators-container {
    flex-direction: column;
    padding: 90px 30px;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    gap: 70px;
  }
}
